<!DOCTYPE html>
<html>
  <head>
    <title>nimbl3</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-app="nimbl3" ng-controller="MainController">
    {{helloMessage}}
  </body>
  <script src="/dist/js/app.min.js"></script>
</html>
