<!DOCTYPE html>
<html>

<head>
  <title>nimbl3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/dist/css/dependencies/jasny-bootstrap.min.css" />
  <link rel="stylesheet" href="/dist/css/dependencies/perfect-scrollbar.min.css" />
  <link rel="stylesheet" href="/dist/css/style.min.css" />
  <link rel="stylesheet" href="/fonts/stylesheet.css" />
</head>

<body ng-app="nimbl3" ng-controller="MainController" ng-cloak>
  <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
    <!-- <a class="navmenu-brand visible-md visible-lg" href="#">Project name</a> -->
    <img class="navmenu-brand" src="/icons/logo-white.svg" />
    <ul class="nav navmenu-nav greeting-box">
      <li>
          <div class="hello-text">Hello, Somchai</div>
          <div class="greeting-corp-name">TWIN TYPES CORPORATION</div>
      </li>
    </ul>
    <ul class="nav navmenu-nav">

      <li ng-repeat="menu in sideNavMenuList" ng-class="{active:menu.isActive}">
        <span class="color-bar" style="background-color:{{menu.colorBar}};"></span><a href="" ng-click="setMenuAsActive($index)">
          <img ng-show="menu.isActive" ng-src="{{menu.image.active}}"/>
          <img ng-show="!menu.isActive" ng-src="{{menu.image.inactive}}"/>
          {{menu.label}}</a>
      </li>
    </ul>
    <div class="sidenav-footer">
      <div class="powered-by">POWERED BY</div>
      <img class="powered-by-logo" src="/icons/logo-white.svg" />
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  </div>

  <!-- <div class="container">
    <div class="page-header">
      <h1>Navmenu Template</h1>
    </div>
    <p class="lead">This example shows the navmenu element. If the viewport is <b>less than 992px</b> the menu will be placed the off canvas
      and will be shown with a slide in effect.</p>
    <p>Also take a look at the examples for a navmenu with <a href="../navmenu-push">push effect</a> and <a href="../navmenu-reveal">reveal effect</a>.</p>
  </div> -->
  <!-- /.container -->
</body>
<script src="/dist/js/dependencies/jquery-3.2.1.min.js"></script>
<script src="/dist/js/dependencies/jasny-bootstrap.min.js"></script>
<script src="/dist/js/dependencies/angular.min.js"></script>
<script src="/dist/js/dependencies/angular-cookies.js"></script>
<script src="/dist/js/dependencies/perfect-scrollbar.min.js"></script>
<script src="/dist/js/app.min.js"></script>

</html>