<!DOCTYPE html>
<html>

<head>
  <title>nimbl3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/dist/css/dependencies/jasny-bootstrap.min.css" />
  <link rel="stylesheet" href="/dist/css/dependencies/perfect-scrollbar.min.css" />
  <link rel="stylesheet" href="/dist/css/style.min.css" />
  <link rel="stylesheet" href="/fonts/stylesheet.css" />
</head>

<body ng-app="nimbl3" ng-controller="MainController" style="background-color:#F4F7F8;" ng-cloak>
  <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
    <!-- <a class="navmenu-brand visible-md visible-lg" href="#">Project name</a> -->
    <img class="navmenu-brand" src="/icons/logo-white.svg" />
    <ul class="nav navmenu-nav greeting-box">
      <li>
        <div class="hello-text">Hello, Somchai</div>
        <div class="greeting-corp-name">TWIN TYPES CORPORATION</div>
      </li>
    </ul>
    <ul class="nav navmenu-nav">
      <li ng-repeat="menu in sideNavMenuList" ng-class="{active:menu.isActive}">
        <span class="color-bar" style="background-color:{{menu.colorBar}};"></span><a href="" ng-click="setMenuAsActive($index)">
          <img ng-show="menu.isActive" ng-src="{{menu.image.active}}"/>
          <img ng-show="!menu.isActive" ng-src="{{menu.image.inactive}}"/>
          {{menu.label}}</a>
      </li>
    </ul>
    <div class="sidenav-footer">
      <div class="powered-by">POWERED BY</div>
      <img class="powered-by-logo" src="/icons/logo-white.svg" />
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 order-header">
        <span class="order-text">Orders / </span><span class="order-number">TN SO 123022</span>
      </div>
    </div>
    <div class="row company-info-row">
      <div class="col-md-9">
        <div class="company-info-box">
          <div class="row">
            <div class="col-md-6">
              <div class="company-info-name">CPF SARABURI</div>
              <div class="company-info-address">Highway 2, Kaeng Khoi Saraburi Thailand</div>
              <div class="company-info-phone">+66 087 348 79 34</div>
            </div>
            <div class="col-md-2 company-info-type">
              <div>Type</div>
              <div>
                <select class="company-info-select">
                  <option value="Retailers">Retailers</option>
                </select>
              </div>
            </div>
            <div class="col-md-2 company-info-type">
              <div>Owned By</div>
              <div>
                <select class="company-info-select">
                    <option value="Retailers">Forrest Gump</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2 company-info-type">
              <div>Status</div>
              <div>
                <select class="company-info-select">
                      <option value="Retailers">Pending</option>
                    </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top-button-area">
        <div class="col-md-3">
          <div class="back-button">Back</div>
        </div>
        <div class="col-md-9">
          <div class="update-order-button">Update Order</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="add-product-box">
          <div class="row">
            <div class="col-md-1" style="padding-top: 14px;width: 5%;padding-left: 28px;">
              <img src="/icons/icon_plus.svg" style="height: 20.35px;	width: 20.35px;" />
            </div>
            <div class="col-md-11">
              <input placeholder="Add Products" type="text" class="add-product-textbox" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product-table-row">
      <div class="col-md-12">
        <div class="product-table-wrapper">
          <table class="table product-table">
            <!-- <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead> -->
            <!-- <tbody> -->
              <tr class="product-table-header">
                <td>SKU</td>
                <td style="width:25%;">DESCRIPTION</td>
                <td style="width:15%;">BRAND</td>
                <td style="width:7%;">LIST PRICE</td>
                <td style="width:7%;">DISCOUNT</td>
                <td style="width:7%;">NET PRICE</td>
                <td style="width:7%;">QTY</td>
                <td>TOTAL</td>
                <td></td>
              </tr>
              <tr class="product-table-body">
                  <td style="	color: #64707C;font-weight:normal;">TN SO 000015</td>
                  <td>Magnetic contactor - 9A (5.5 kW\, 
                      7.5 HP)\, control voltage 230 Vac</td>
                  <td>Schneider Electric</td>
                  <td>THB 880</td>
                  <td>30%</td>
                  <td>THB 660</td>
                  <td>THB 660</td>
                  <td>THB 660</td>
                  <td style="text-decoration: underline;">Remove Item</td>
                </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/dist/js/dependencies/jquery-3.2.1.min.js"></script>
<script src="/dist/js/dependencies/jasny-bootstrap.min.js"></script>
<script src="/dist/js/dependencies/angular.min.js"></script>
<script src="/dist/js/dependencies/angular-cookies.js"></script>
<script src="/dist/js/dependencies/perfect-scrollbar.min.js"></script>
<script src="/dist/js/app.min.js"></script>

</html>