body {
  font-family: 'montserrat', Arial, sans-serif;
}

html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  /* padding-top: 50px; */
  width: 246px !important;
  overflow: hidden;
  background-color: #73247E;
  position: absolute;
  height: 3000px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}

.navmenu-brand {
  padding: 17px 50px;
  margin: 0px;
  background-color: #4F1463;
}

.navmenu-default .navmenu-brand:hover{
  background-color: #4F1463;
}

.navmenu-fixed-left {
  z-index: 10300 !important;
}

.greeting-box {
  background-color:white;
  height:45px;
  margin-bottom: 0px;
  padding-left: 21px;padding-top:5px;
}

.hello-text {
  color: #DF542A;font-size: 14px;
}

.greeting-corp-name {
  color: #626272;font-size: 11px;font-weight: 600;line-height: 14px;
}

.navmenu-default .navmenu-nav>li>a, .navmenu-default .navmenu-nav>li>a:hover  {
  color: #D58EDD;
  height: 67px;
  padding-top: 24px;
}

.navmenu-default .navmenu-nav>.active>a, .navmenu-default .navmenu-nav>.active>a:hover {
  background-color: rgba(76,19,103,0.5) !important;
  color: white !important;
  height: 67px;
  padding-top: 24px;
}

.nav>li>a {
  padding-left:30px;
}

.nav>li>a>img {
  width:17px;
  margin-right:20px;
  margin-top: -2px;
}

.active > .color-bar {
  width: 6px;
  height: 41px;
  background-color: white;
  display: inline-block;
  top: 13px;
  position: absolute;
  z-index: 1000;
  /* border-radius: 30%; */
  border-top-right-radius: 2em;
  border-radius: 0 17px 17px 0;
}